.contentBox {
  background: #fff;
  height: calc(100vh - #{$layout-header-height});
  width: 100vw;
  overflow: hidden;

  .loginTitle {
    color: rgba(34, 34, 34, 1);
    font-size: 27px;
    font-weight: bold;
    margin: 105px 0 40px 16px;
  }
}

.form {
  width: 90%;
  margin: 0 auto;
  .inputItem {
    border-radius: 4px;
    border: 0.5px solid #e5e5e5;
  }
}

.agreement {
  display: flex;
  color: rgba(168, 168, 172, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  a {
    color: rgba(4, 124, 252, 1);
  }
}
.weixinImg {
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
}
.phoneInput {
  display: flex;
  justify-content: center;
  align-items: center;
  .van-field {
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 1);
    border: 0.06rem solid rgba(229, 229, 229, 1);
    width: 340px;
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  .infoBtn {
    width: 340px;
    height: 49px;
    border-radius: 4px;
    background-color: #047cfc;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
  }
}
.slogan {
  color: rgba(168, 168, 172, 1);
  font-size: 13px;
  text-align: center;
  font-family: PingFangSC-Regular;
}
.tips {
  margin-top: 12px;
  color: rgba(168, 168, 172, 1);
}
.pwdLogin {
  margin-top: 14px;
  color: rgba(4, 124, 252, 1);
  font-size: 14px;
}
.van-divider {
  margin-top: 133px;
  font-size: 12px;
}
